$background: #ffffff;
$foreground: #171717;
$red: #8b2828;
$black: #1f1f1f;
$white: #ffffff;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: $background;
  color: $foreground;
}
