.footer {
  background-color: #1f1f1f2f;
  .footer_nav {
    justify-content: space-between;
    display: flex;
    padding: 1rem;
    align-items: center;
    .footer_list {
      display: flex;
      gap: 0.5rem;
      list-style: none;
    }
  }
}
