.my_projects_wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  margin: 2rem;
  .my_project_item {
    background-color: beige;
    height: 15rem;
    padding: 1rem;
    display: grid;
    border: 2px solid black;
    border-radius: 1em;
    .my_project_infos {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin: 0.5rem;
    }
  }
}
